[Unit]
Description={{ service }} Pip/PyPI Cache
After=network.target

[Service]
Type=forking
User={{ user }}
Group={{ group }}
PIDFile=/run/{{ service }}/{{ service }}.pid
ExecStartPre=+/usr/bin/mkdir -p /run/{{ service }}
ExecStartPre=+/usr/bin/chown {{ user }}:{{ group }} /run/{{ service }}
ExecStartPre=+/usr/bin/chmod 0700 /run/{{ service }}
ExecStart=/usr/local/bin/piproxy-prod -j -d -c /etc/{{ service }}/config.yml
ExecReload=kill -QUIT $MAINPID
ExecReload=/usr/local/bin/piproxy-prod -j -d -u -c /etc/{{ service }}/config.yml
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
